/CMakeCache.txt
/build*/
/test/**/*.diff.*
/test/**/*.curr.*
*.trace
/debian/tmp/
/debian/*.log
/debian/*.substvars
/debian/*.debhelper
/debian/files
/debian/solvespace/
/debian/libslvs1/
/debian/libslvs1-dev/
/obj-*/
/*.slvs
