[submodule "extlib/zlib"]
	path = extlib/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "extlib/libpng"]
	path = extlib/libpng
	url = https://github.com/glennrp/libpng
[submodule "extlib/freetype"]
	path = extlib/freetype
	url = https://git.savannah.nongnu.org/r/freetype/freetype2.git/
[submodule "extlib/libdxfrw"]
	path = extlib/libdxfrw
	url = https://github.com/solvespace/libdxfrw.git
[submodule "extlib/pixman"]
	path = extlib/pixman
	url = https://github.com/solvespace/pixman
[submodule "extlib/cairo"]
	path = extlib/cairo
	url = https://github.com/solvespace/cairo
[submodule "extlib/angle"]
	path = extlib/angle
	url = https://github.com/solvespace/angle
[submodule "extlib/flatbuffers"]
	path = extlib/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "extlib/q3d"]
	path = extlib/q3d
	url = https://github.com/q3k/q3d
