Bauke Conijn <bcmpinc@gmail.com>
Bauke Conijn <bcmpinc@gmail.com> <bcmpinc@users.sourceforge.net>

EvilSpirit <anandamide@mail.ru>

Isaac Garzón <ncebdacr@duck.com>
Isaac Garzón <ncebdacr@duck.com> <iscgar@users.noreply.github.com>
Isaac Garzón <ncebdacr@duck.com> <iscgarzon@gmail.com>
Isaac Garzón <ncebdacr@duck.com> <retool-amends-sly@duck.com>

luz paz <luzpaz@users.noreply.github.com>

Maximilian Federle <max.federle@googlemail.com>
Maximilian Federle <max.federle@googlemail.com> <max.federle@gmail.com>

Not4Sure <juliy.maj@gmail.com>

Paul Kahler <14852918+phkahler@users.noreply.github.com>

Rylie Pavlik <rylie@ryliepavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@gmail.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@ryanpavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@sensics.com>
Rylie Pavlik <rylie@ryliepavlik.com> <rylie.pavlik@collabora.com>
